.link {
  margin-left: 1rem;
  color: #21547e;
  transition: color 0.2s ease;
}

.navLink {
  color: #ccc;

  &.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }

  &:hover {
    color: #fff;
  }
}
